.Button {
    background-image: url('https://ichef.bbci.co.uk/news/976/cpsprodpb/16620/production/_91408619_55df76d5-2245-41c1-8031-07a4da3f313f.jpg');
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 20vh;
    background-color: rgb(170, 170, 170);
    color: rgb(255, 255, 255);
    font-size: 2.2vh;
    border: none;
    border-radius: 3vh;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
  }